.App {
  text-align: center;
  background-color: #000000;
  color: #19A974;
}

/* COLOR CODE */
/* #000000 -- black */
/* #19A974 -- green */
/* #00449E -- dark blue */
/* #5E2CA5 -- purple */
/* #FF4136 -- red */